<!DOCTYPE html>
<html>
<head>
     
<%= stylesheet_link_tag  'backend', media: 'all', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
 </head>
 
<body>
	
	<div class="container">
		 <%= render "partials/header" %>
	</div>
	<div class="main container">
		 <%= yield %>
	</div>

<%= javascript_include_tag 'backend', 'data-turbolinks-track' => true %>

</body>
</html>
